* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #9baf6d;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: tahoma, sans-serif, Arial;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* -----------------
     Small
*-------------------*/
@media (min-width: 767px) {
  .container {
    width: 720px;
  }
}
/* -----------------
     Medium
*-------------------*/
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
/* -----------------
    Large
 *-------------------*/
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

/* -----------------
   Extra Large
*-------------------*/
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

/* -----------------
    Global Action
 *-------------------*/

/* -----------------
       Header Start
    *-------------------*/
.header {
  background-image: url(../images/image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.header .header-content .list {
  padding-top: 32px;
  text-align: right;
}
.header ul li {
  list-style: none;
  display: inline-block;
  margin-left: 27px;
  margin-bottom: 10px;
}
.header li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  color: #9baf6d;
  transition: all 0.5s ease;
}
.header li a:hover {
  color: #fff;
}
.header .header-content img {
  width: 100px;
  margin-left: 78%;
  margin-top: 53px;
}
.header .header-content .count {
  margin-left: 67%;
  margin-top: 16%;
  color: #9baf6d;
}
.header .count h1 {
  font-size: 35px;
}
.header .count p {
  font-size: 35px;
  line-height: 53px;
  letter-spacing: 10px;
}
.header .header-content .header-button {
  padding: 18px 40px;
  font-size: 21px;
  margin-left: 78%;
  background-color: #9baf6d4d;
  border: none;
  margin-top: 50px;
  color: var(--main-color);
  transition: all 0.5s ease;
}
.header .header-content .header-button:hover {
  background-color: #9baf6d8c;
}
@media (max-width: 1199px) {
  .header .header-content .header-button {
    margin-left: 74%;
  }
}
@media (max-width: 991px) {
  .header .count h1 {
    font-size: 25px;
  }
  .header .count p {
    font-size: 25px;
  }
  .header .header-content .header-button {
    margin-left: 65%;
  }
}
@media (max-width: 680px) {
  .header li a {
    font-size: 15px;
    font-weight: bold;
  }
  .header .header-content img {
    margin-left: 53%;
  }
  .header .header-content .count {
    margin-left: 37%;
    text-align: center;
  }
  .header .header-content .header-button {
    margin-left: 50%;
  }
}
@media (max-width: 475px) {
  .header .header-content .header-button {
    margin-left: 74px;
    padding: 13px 11px;
    font-size: 15px;
  }
}

/* -----------------
       Cock Start
    *-------------------*/
.cook {
  height: 490px;
  background-color: #35363b;
}
.cook .image-2 {
  text-align: right;
}
.cook .crow {
  margin-top: -256px;
}
.cook .crow h1 {
  font-weight: normal;
  font-size: 20px;
  color: var(--main-color);
  margin-bottom: 40px;
}
.cook .crow p {
  width: 40%;
  color: #ffffff94;
  line-height: 1.5;
}
@media (max-width: 991px) {
  .cook .crow p {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .cook {
    height: auto;
  }
  .cook .crow {
    margin-top: -50%;
  }
  .cook .image-2 img {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .cook .crow p {
    width: 100%;
  }
}
/* -----------------
       Chosing Start
    *-------------------*/
.chosing {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #35363b;
}
.chosing .chosing-content {
  display: flex;
  justify-content: center;
}
.chosing .chosing-content .meal {
  width: 304px;
}
.chosing .chosing-content .meal.tech {
  margin-top: 17px;
}
.chosing .meal h1 {
  font-size: 20px;
  font-weight: normal;
  color: var(--main-color);
}
.chosing .meal p {
  width: 85%;
  color: #ffffff94;
}
@media (max-width: 767px) {
  .chosing {
    padding-top: 279px;
  }
}
@media (max-width: 680px) {
  .chosing {
    padding-top: 24%;
  }
  .chosing .chosing-content {
    flex-direction: column;
    text-align: center;
  }
  .chosing .chosing-content .meal {
    width: 100%;
    margin-top: 32px;
  }
  .chosing .chosing-content .meal.tech {
    margin-top: 32px;
  }
  .chosing .meal p {
    width: 100%;
  }
}

/* -----------------
       Tradition Start
    *-------------------*/
.tradition {
  background-color: #35363b;
}
.tradition .tradition-content {
  background-color: #2c3132;
  margin: 0 105px;
}
.tradition .tradition-content > h1 {
  text-align: center;
  font-size: 25px;
  color: var(--main-color);
  padding-top: 60px;
}
.tradition .tradition-content > p {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  padding-bottom: 20px;
  color: #fff;
}
.tradition .tradition-content .mix {
  display: flex;
  flex-wrap: wrap;
}
.tradition .mix .mix-cont {
  width: 270px;
  text-align: center;
  position: relative;
}
.tradition .mix .mix-cont img {
  width: 100%;
}
.tradition .mix-cont h1 {
  color: #9baf6d80;
  font-size: 20px;
  padding-top: 15%;
  margin-bottom: 50px;
}
.tradition .mix-cont p {
  margin-bottom: 60px;
  color: #fff;
}
.tradition .mix-cont h2 {
  font-size: 15px;
  color: #fff;
}
.tradition .mix .mix-cont hr {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #9baf6d80;
  border: none;
}
@media (max-width: 1399px) {
  .tradition .tradition-content {
    margin: 0;
  }
  .tradition .mix .mix-cont {
    width: 277px;
  }
}
@media (max-width: 1199px) {
  .tradition .mix .mix-cont {
    width: 232px;
  }
  .tradition .mix-cont h1 {
    padding-top: 5%;
  }
}
@media (max-width: 991px) {
  .tradition .mix .mix-cont {
    width: 345px;
  }
  .tradition .mix-cont h1 {
    padding-top: 25%;
  }
}
@media (max-width: 767px) {
  .tradition .tradition-content .mix {
    flex-direction: column;
    align-items: center;
  }
  .tradition .mix .mix-cont {
    width: 100%;
  }
  .tradition .mix-cont h1 {
    padding-top: 5%;
  }
  .tradition .mix-cont h2 {
    padding-bottom: 25%;
  }
  .tradition .mix .sp-t h2 {
    padding-bottom: 5%;
  }
  .tradition .mix .mix-cont hr {
    display: none;
  }
  .tradition .mix .sd hr {
    display: block;
  }
}

/* -----------------
       Simple Start
  *-------------------*/
.simple {
  padding-top: 80px;
  background-color: #2c3132;
}
.simple .simple-content {
  text-align: center;
}
.simple .simple-content h1 {
  font-weight: normal;
  margin-bottom: 20px;
  color: var(--main-color);
  font-size: 28px;
}
.simple .simple-content p {
  padding: 0 28%;
  margin-bottom: 30px;
  color: #fff;
}
.simple .simple-content img {
  margin-bottom: 70px;
}
.simple .image-3 {
  background-image: url(../images/image-10.jpg);
  height: 372px;
  background-position: center;
}
@media (max-width: 991px) {
  .simple .simple-content p {
    padding: 0 16%;
  }
}
@media (max-width: 500px) {
  .simple .simple-content p {
    padding: 0;
  }
}

/* -----------------
       Discover Start
 *-------------------*/
.discover {
  padding-top: 80px;
  background-color: #424f27;
}
.discover .ss-discover {
  text-align: center;
  color: #ffffff94;
}
.ss-discover h1 {
  margin-bottom: 20px;
}
.discover .main-cora {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -26px 0 140px 150px;
}
.discover .target .sugar {
  display: flex;
  color: #ffffff94;
  margin-top: 80px;
}
.discover .target .sugar img {
  background-color: #fff;
  border-radius: 50%;
  padding: 21px 10px;
}
.discove .sugar img.special {
  padding: 10px 14px;
}
.discover .coll h1 {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 10px;
}
.discover .sugar .coll {
  margin-left: 30px;
}
.discover .coll p {
  width: 78%;
  font-size: 15px;
}
.discover .image-4 {
  background-image: url(../images/image-10.jpg);
  height: 700px;
  background-position: bottom;
}
@media (max-width: 1199px) {
  .discover .main-cora {
    margin: -26px 0 140px 70px;
  }
}
@media (max-width: 1199px) {
  .discover .main-cora {
    margin: -26px 0 140px 0;
  }
}
@media (max-width: 767px) {
  .discover .main-cora {
    flex-direction: column;
  }
  .discover .coll p {
    width: 100%;
  }
}

/* -----------------
     Book Start
*-------------------*/
.book .image-5 {
  background-image: url(../images/image-11.jpg);
  height: 770px;
}

/* -----------------
     Change Start
*-------------------*/
.change {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #35363b;
}
.change .change-des {
  text-align: center;
}
.change .change-des h1 {
  margin: 0;
  font-size: 40px;
  color: #9baf6d;
}
.change .change-des p {
  color: #fff;
  font-size: 30px;
}
.change .main-chain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-right: 30px;
}
.change .main-chain .shin {
  width: 377px;
  margin-left: 30px;
}
.change .shin .sor-ff {
  padding-left: 10px;
  background-color: #fff;
  height: 178px;
}
.change .shin .sor-ff h2 {
  font-size: 16px;
  font-weight: normal;
  color: #000000c9;
  padding-top: 10px;
  margin-bottom: 20px;
}
.change .shin img {
  width: 100%;
}
.change .shin .sor-ff p:first-of-type {
  color: black;
  font-size: 17px;
  margin-bottom: 5px;
}
.change .sor-ff p {
  color: #555050;
  margin-bottom: 20px;
}
.change .shin .sor-ff h3 {
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 4px;
}
.change .sor-ff hr {
  background-color: #9baf6d;
  height: 8px;
  width: 90px;
}
@media (max-width: 991px) {
  .change .main-chain {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 0;
  }
  .change .main-chain .shin {
    width: 314px;
    margin: 0 15px;
  }
  .change .main-chain .shin.xx-do {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .change .main-chain {
    flex-direction: column;
  }
  .change .main-chain .shin {
    width: 100%;
    margin: 0;
  }
}
/* *----------------
    About Us Start
*------------------- */
.about {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #4c533f;
}
.about .about-content {
  text-align: center;
  color: #9baf6d;
}
.about .about-content img {
  margin-bottom: 10px;
}
.about .about-content p {
  padding: 0px 22%;
  font-size: 15px;
  margin-bottom: 20px;
}
.about .about-content h1 {
  margin-bottom: 10px;
  font-size: 28px;
}
.about .ab-co span {
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 20px 8px 0 8px;
  transition: all 0.5s ease;
}
.about .ab-co span:hover {
  background-color: #35363b;
}
@media (max-width: 991px) {
  .about .about-content p {
    padding: 0px 15%;
  }
}
@media (max-width: 640px) {
  .about .about-content p {
    padding: 0;
  }
}

/* *----------------
    Footer Start
*------------------- */
.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #35363b;
}
.footer .footer-content {
  display: flex;
  color: #fff;
  justify-content: center;
}
.footer .footer-content .foo-lr {
  width: 32%;
}
.footer .footer-content h1 {
  font-size: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.footer .footer-content h1:hover {
  color: #9baf6d;
}
.footer .foo-lr p {
  width: 95%;
}
.footer .footer-content .foo-rl {
  display: flex;
  width: 32%;
  justify-content: sc;
  justify-content: flex-end;
}
.footer .foo-rl .team {
  width: 100px;
}
.footer .foo-rl .team p {
  cursor: pointer;
  transition: all 0.5s ease;
}
.footer .foo-rl .team p:hover {
  padding-left: 10px;
  color: #9baf6d;
  padding-bottom: 10px;
}
@media (max-width: 1199px) {
  .footer .footer-content {
    justify-content: space-around;
  }
}
@media (max-width: 991px) {
  .footer .footer-content {
    justify-content: space-between;
  }
  .footer .foo-lr p {
    width: 100%;
  }
  .footer .footer-content .foo-lr {
    width: 37%;
  }
  .footer .foo-rl .team {
    margin: 0 23px;
  }
}
@media (max-width: 767px) {
  .footer .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-content .foo-lr {
    width: 80%;
    text-align: center;
  }
  .footer .footer-content .foo-rl {
    width: 100%;
    justify-content: center;
    margin-top: 40px;
  }
}
@media (max-width: 500px) {
  .footer .footer-content .foo-lr {
    width: 100%;
  }
}
